.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.entry-header .entry-title {
  margin-bottom: .5em;
}

.entry-content h3.section-title {
  margin-top: 1em;
}

.entry-footer .posted-on,
.author-info {
  display: none;
}

.entry-footer .byline {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
